

:root {
    --huvudfarg: #2ecc71;
}

a {
    text-decoration: none;      
    color: inherit;            
  }
  
  a p {
    color: #000;               
    
  }
  

#wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 70px 350px 350px;
    height: 100vh;
    width: 100%;
    gap: 5px;
    grid-template-areas: 
    'nv'
    'hd'
    'sc1'
    'sc2'
    ;

}

nav {
    grid-area: nv;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--huvudfarg);
    
}

button {
    background-color: #229652;
    border: none;
    padding: 0.7rem;
    font-size: 1.5rem;
    width: 100%;
    transition: background-color 0.3s;
    
}

button:hover {
    background-color: var(--huvudfarg);
}

header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    color: #2ecc71;
    font-size: 40px;
}

#sec1 {
    grid-area: sc1;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: grid;
    gap: 5px;
    justify-content: space-around;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'img1 img2 img3 img4 img5';
    
}

#img1 {
    grid-area: img1;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 60% 15% 25%;
    display: grid;
    grid-template-areas:
    'bc11'
    'bc12'
    'bc13'
    ;
}

    #blue-collar-1-1 {
    grid-area: bc11;
    background-image: url(/img/blue-collar-1.jpg);
    background-size: cover;
    background-repeat: none;
    }

    #blue-collar-1-2 {
    grid-area: bc12;
    background-color: var(--huvudfarg);
    display: flex;
    font-size: 150%;
    align-items: center;
    }

    #blue-collar-1-3 {
    grid-area: bc13;
    background-color: var(--huvudfarg);
    display: flex;
    align-items: center;
    }

#img2 {
    grid-area: img2;
    background-color: bisque;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 60% 15% 25%;
    display: grid;
    grid-template-areas:
    'bc21'
    'bc22'
    'bc23'
    ;
}

    #blue-collar-2-1 {
    grid-area: bc21;
    background-image: url(/img/blue-collar-2.jpg);
    background-size: cover;
    }

    #blue-collar-2-2 {
    grid-area: bc22;
    background-color: var(--huvudfarg);
    display: flex;
    font-size: 150%;
    align-items: center;
    }

    #blue-collar-2-3 {
    grid-area: bc23;
    background-color: var(--huvudfarg);
    display: flex;
    align-items: center;
    }

#img3 {
    grid-area: img3;
    background-color: brown;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 60% 15% 25%;
    display: grid;
    grid-template-areas:
    'bc31'
    'bc32'
    'bc33'
    ;
}

    #blue-collar-3-1 {
    grid-area: bc31;
    background-color: aquamarine;
    }

    #blue-collar-3-2 {
    grid-area: bc32;
    background-color: blueviolet;
    }

    #blue-collar-3-3 {
    grid-area: bc33;
    background-color: burlywood;
    }

#img4 {
    grid-area: img4;
    background-color: blue;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 60% 15% 25%;
    display: grid;
    grid-template-areas:
    'bc41'
    'bc42'
    'bc43'
    ;
}

    #blue-collar-4-1 {
    grid-area: bc41;
    background-color: aquamarine;
    }

    #blue-collar-4-2 {
    grid-area: bc42;
    background-color: blueviolet;
    }

    #blue-collar-4-3 {
    grid-area: bc43;
    background-color: burlywood;
    }

#img5 {
    grid-area: img5;
    background-color: blueviolet;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 60% 15% 25%;
    display: grid;
    grid-template-areas:
    'bc51'
    'bc52'
    'bc53'
    ;
}

    #blue-collar-5-1 {
    grid-area: bc51;
    background-color: aquamarine;
    }

    #blue-collar-5-2 {
    grid-area: bc52;
    background-color: blueviolet;
    }

    #blue-collar-5-3 {
    grid-area: bc53;
    background-color: burlywood;
    }


#sec2 {
    grid-area: sc2;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: grid;
    gap: 5px;
    justify-content: space-around;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    'img6 img7 img8 img9 img10';
}

#img6 {
    grid-area: img6;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 60% 15% 25%;
    display: grid;
    grid-template-areas:
    'of11'
    'of12'
    'of13'
    ;
}

    #office-1-1 {
        grid-area: of11;
        background-color: aquamarine;
    }

    #office-1-2 {
        grid-area: of12;
        background-color: blueviolet;
    }

    #office-1-3 {
        grid-area: of13;
        background-color: burlywood;
    }


#img7 {
    grid-area: img7;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 60% 15% 25%;
    display: grid;
    grid-template-areas:
    'of21'
    'of22'
    'of23'
    ;
}
    
    #office-2-1 {
        grid-area: of21;
        background-color: aquamarine;
    }
    
    #office-2-2 {
        grid-area: of22;
        background-color: blueviolet;
    }
    
    #office-2-3 {
        grid-area: of23;
        background-color: burlywood;
    }


#img8 {
    grid-area: img8;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 60% 15% 25%;
    display: grid;
    grid-template-areas:
    'of31'
    'of32'
    'of33'
    ;
}
        
    #office-3-1 {
        grid-area: of31;
        background-color: aquamarine;
    }
        
    #office-3-2 {
        grid-area: of32;
        background-color: blueviolet;
    }
        
    #office-3-3 {
        grid-area: of33;
        background-color: burlywood;
    }


#img9 {
    grid-area: img9;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 60% 15% 25%;
    display: grid;
    grid-template-areas:
    'of41'
    'of42'
    'of43'
    ;
}
            
    #office-4-1 {
        grid-area: of41;
        background-color: aquamarine;
    }
            
    #office-4-2 {
        grid-area: of42;
        background-color: blueviolet;
    }
            
    #office-4-3 {
        grid-area: of43;
        background-color: burlywood;
    }


#img10 {
    grid-area: img10;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 60% 15% 25%;
    display: grid;
    grid-template-areas:
    'of51'
    'of52'
    'of53'
    ;
}
            
    #office-5-1 {
        grid-area: of51;
        background-color: aquamarine;
    }
            
    #office-5-2 {
        grid-area: of52;
        background-color: blueviolet;
    }
            
    #office-5-3 {
        grid-area: of53;
        background-color: burlywood;
    }