

#wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 70px 350px 350px;
    height: 100vh;
    width: 100%;
    gap: 5px;
    grid-template-areas: 
    'nv'
    'hd'
    'sc1'
    'sc2'
    
    ;

}

nav {
    grid-area: nv;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #2ecc71;
    
}

button {
    background-color: #229652;
    padding: 0.7rem;
    font-size: 1.5rem;
    width: 100%;
    transition: background-color 0.3s;
    
}

button:hover {
    background-color: #29b362;
}

header {
    grid-area: hd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    color: #2ecc71;
    font-size: 40px;
}

#sec1 {
    grid-area: sc1;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    display: grid;
    gap: 5px;
    justify-content: space-around;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    'img1 img2 img3 img4 img5';
    
}

#img1 {
    grid-area: img1;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 25% 25%;
    display: grid;
    grid-template-areas:
    'bc1'
    'bc2'
    'bc3'
    ;
}

#blue-collar-1 {
    grid-area: bc1;
    background-color: aquamarine;
}

#blue-collar-2 {
    grid-area: bc2;
    background-color: blueviolet;
}

#blue-collar-3 {
    grid-area: bc3;
    background-color: burlywood;
}

#img2 {
    grid-area: img2;
    background-color: bisque;
    height: 100%;
    background-image: url(/img/intro-1725041138.jpg);
}

#img3 {
    grid-area: img3;
    background-color: brown;
    height: 100%;
    background-image: url(/img/images.jpg);
}

#img4 {
    grid-area: img4;
    background-color: blue;
    height: 100%;
    background-image: url(/img/intro-1725041138.jpg);
}

#img5 {
    grid-area: img5;
    background-color: blueviolet;
    height: 100%;
    background-image: url(/img/images.jpg);
}


#sec2 {
    grid-area: sc2;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}